body {margin:0; 
font-family:'Montserrat', sans-serif;


div #block  {width:750px;  background-color:#dddddd}

}
div.header {
  overflow: hidden;
  background: #000; 
  transition:0.6s;
  background-size: 100%;
  height:70px; 
  width:100%;    
  font-family:'Montserrat', sans-serif;
  font-size: 150%;
}




nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav a {
  text-decoration: none;
  outline: none;
  display: block;
  transition: .4s ease-in-out;
}
.topmenu {
  text-align: center;
  padding: 10px 0;
}
.topmenu > li {
  display: inline-block;
  position: relative;
}
.topmenu > li:after {
  content: "";
  position: absolute;
  right: 0;
  width: 1px;
  height: 12px;
  background: #d2d2d2;
  top: 16px;
  box-shadow: 4px -2px 0 #d2d2d2;
  transform: rotate(30deg);
}
.topmenu > li:last-child:after {
  background: none;
  box-shadow: none;
}
.topmenu > li > a {
  padding: 12px 26px;
  color: #767676;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  font-family: 'Exo 2', sans-serif;
}
.topmenu li a:hover { color: #c0a97a; }
.submenu {
  position: absolute;
  left: 50%;
  top: 100%;
  width: 210px;
  margin-left: -105px;
  background: #fafafa;
  border: 1px solid #ededed;
  z-index: 5;
  visibility: hidden;
  opacity: 0;
  transform: scale(.8);
  transition: .4s ease-in-out;
}
.submenu li a {
  padding: 10px 0;
  margin: 0 10px;
  border-bottom: 1px solid #efefef;
  font-size: 12px;
  color: #484848;
  font-family: 'Kurale', serif;
}
.topmenu > li:hover .submenu {
  visibility: visible;
  opacity: 1;
  transform: scale(1);}
                                                                               /* #FFFF00, #FF8000, #FFFF00*/

 
div.left_col{width:15%;  float:left; ; margin-bottom:-15px; margin-top:250px;  }

div.center_col{width:70%; height: auto; float:left; margin-top:30px; box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); letter-spacing: .02em; }

div.right_col{ width:40%;  float:right;  margin-bottom:-15px; margin-top: 250px;  }

div.footer { width: 100%;  background-color:#E6E6E6; clear:both; border-radius: 10px;   }

.copyright {
    font-size: 8pt;
    text-align: center;
    padding-bottom: 10px;
    color: black;}

#contacts img { 
    height: 50px;
    width: 50px;
    margin-left: 7px;
    margin-right: 7px;

}
#contacts a {
    text-decoration: none;
}
#contacts img:hover {
    opacity: 0.8;
}
#contacts {
    text-align: left;
   padding-left: 250px
}


  
   ul.hr li {
    display: inline; 
    margin-right: 5px; 
   
    padding: 3px; 
   
   }
   

   .btn{
   	border:none;
   	margin: 5px;
   	padding:10px;
	text-transform: uppercase;
   	border-radius:7px;
   	cursor: pointer;

	transition:0.6s;
  background-size: 200%
   }

.btn1
{
	background-image: linear-gradient(to left, #FF00FF, #642EFE, #FF00FF);
}
   
.btn2
{
	background-image: linear-gradient(to left, #FF00FF, #642EFE,#FF00FF);
}
.btn3
{
	background-image: linear-gradient(to left, #FF00FF, #642EFE,#FF00FF);
}
.btn4
{
	background-image: linear-gradient(to left, #FF00FF, #642EFE,#FF00FF);
}
.btn5
{
	background-image: linear-gradient(to left, #FF00FF, #642EFE,#FF00FF);
}
.btn:hover{
	background-position: right;
}


                                                    /* кнопка якір Top старт*/

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-image: linear-gradient(to left, #FF00FF, #642EFE,#FF00FF); /* Set a background color */
    color: black; /* Text color */
    cursor: pointer;  /* Add a mouse pointer on hover */
     transition:0.6s;
     background-size: 200%;
     
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}

#myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
background-position: right;
}
                                /* кнопка якір Top фініш*/
                                      /* кнопки меню старт*/

.btn-group button {
  background-image: linear-gradient(to left, #FF00FF, #642EFE,#FF00FF);
  position: relative;
  margin: auto;
  color: black; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  width: 50%; /* Set a width if needed */
  display: block; /* Make the buttons appear below each other */

  text-transform: uppercase;
    border-radius:7px;
transition:0.6s;
  background-size: 200%



}

.btn-group button:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #3e8e41;

background-position: right;
}
                                /* кнопки меню фініш*/


#button{
  border: none;
}
a:link 
{
  text-decoration:none;
}
a:visited
{
  text-decoration: none;
}
a:active
{
  text-decoration: none;
}
a:hover
{
  text-decoration: underline; color: blue;
}

form{
  display: block;
  margin: 0;
}{
  width: 35%;

padding: 12px;
margin: 6px 0 4px;
border: 1px solid #ccc;
background: #fafafa;
color: #000;
font-family: sans-serif;
font-size: 12px;
line-height: normal;
box-sizing: border-box;
border-radius: 2px;
}

.title{
  
  font-family: adobe-garamond-pro;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  letter-spacing: .02em;
  line-height: 1.6em;
  text-transform: none;
  color:
  rgba(23,23,23,.8);
}

.field-element {
  width: 35%;
  padding: 12px;
  margin: 6px 0 4px;
  border: 1px solid #ccc;
  background:#fafafa;
  color:#000;
  font-family: sans-serif;
  font-size: 12px;
  line-height: normal;
  box-sizing: border-box;
  border-radius: 2px;
}
.button12 {
  background-color: white;
  color: black;
  border: 2px solid #E6E6E6;
  cursor: pointer;
  border-width: 2px;
  border-style: solid;
  -webkit-transition: 0.1s background-color linear, 0.1s color linear;
  -moz-transition: 0.1s background-color linear, 0.1s color linear;
  -o-transition: 0.1s background-color linear, 0.1s color linear;
  transition: 0.1s background-color linear, 0.1s color linear;
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;   
  text-transform: uppercase;
  letter-spacing: 2px;   
  padding: 1em 2.5em;
}

.button12:hover {
  background-color: #E6E6E6;
  color: black;
}
.spusok{
  padding-left:  15%;
}

table {
  
  color: black;
}
caption {
  padding: 10px;
  color: white;
  background: #8FD4C1;
  font-size: 18px;
  text-align: left;
  font-weight: bold;
}
th {
  border-bottom: 3px solid #E6E6E6;
  padding: 10px;
  text-align: left;
}
td {
  padding: 10px;
}
tr:nth-child(odd) {
  background: white;
}
tr:nth-child(even) {
  background: #E6E6E6;
}



//////////////////////////////////////////////////////////////////////////
body{
  width: 100%;
  height:100%;
  position:relative;
  overflow:hidden;
  text-decoration: none;
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.7), 
      rgba(0, 0, 0, 0.7)
    ),
    black url('https://images.unsplash.com/photo-1439723680580-bfd9d28ef9b6?crop=entropy&fit=crop&fm=jpg&h=950&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1925') 50% 50% no-repeat;
   //background: 
     linear-gradient(
      rgba(0, 0, 0, 0.7), 
      rgba(0, 0, 0, 0.7)
    ),
     rgba(220, 220, 220, 1) url('https://images.unsplash.com/photo-1449157291145-7efd050a4d0e?crop=entropy&fit=crop&fm=jpg&h=950&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1925') 50% 50% no-repeat;
  //background-blend-mode: exclusion;
  background-blend-mode: luminosity;
  
 
}
.container{



  height:100%;
 position: relative;
    top: 40%;
    left: 87%;
    transform: translate(-50%, -50%);
    margin: 200px 0 0 0;
}
.btn {
    margin-top: calc(70% - 250px);
    position: relative;
    display: inline-block;
    width: 257px;
    height: 50px;
    font-size: 1em;
    font-weight: bold;
    line-height: 40px;
    text-align: center;
    text-transform: none;
    background-color: transparent;
    cursor: pointer;
    text-decoration:none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight:900;
    font-size:17px;
    letter-spacing: 0.045em;
}

.btn svg {
    position: absolute;
    top: 0;
    left: 0;
}

.btn svg rect {
    //stroke: #EC0033;
    stroke-width: 4;
    stroke-dasharray: 353, 0;
    stroke-dashoffset: 0;
    -webkit-transition: all 600ms ease;
    transition: all 600ms ease;

}

.btn span{
  background: rgb(255,130,130);
  background: -moz-linear-gradient(left,  rgba(255,130,130,1) 0%, rgba(225,120,237,1) 100%);
  background: -webkit-linear-gradient(left,  rgba(255,130,130,1) 0%,rgba(225,120,237,1) 100%);
  background: linear-gradient(to right,  rgba(255,130,130,1) 0%,rgba(225,120,237,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8282', endColorstr='#e178ed',GradientType=1 );
   ;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn:hover svg rect {
    stroke-width: 4;
    stroke-dasharray: 196, 543;
    stroke-dashoffset: 437;
    text-decoration: none;
}

////////////////////////////////////////
